body {
    margin: 0;
    padding: 0;
  }
  
  .main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 120px; /* 메뉴바 높이만큼 추가 */
  }
