body, html {
  margin: 0; /* 기본 여백 제거 */
  padding: 0; /* 기본 패딩 제거 */
  height: 100%; /* 전체 높이 설정 */
  width: 100%; /* 전체 너비 설정 */
}

#root {
  height: 100%; /* root 요소를 전체 높이로 설정 */
  width: 100%; /* root 요소를 전체 너비로 설정 */
}
